.profile-ctrls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  margin-left: 0.4rem;
}

.dashContainer {
  max-width: 1540px;
  margin: 0 auto;
  width: 100%;
}

.userList {
  display: grid;
  grid-template-rows: auto 1fr;
}

.itemDetails {
  display: flex;
  flex-direction: column;
}
.bookList {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  align-items: center;
}
