.profile-ctrls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  margin-left: 0.4rem;
}

.dashContainer {
  max-width: 1440px;
  margin: 0 auto;
}

.userList {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}

.itemDetails {
  display: flex;
  flex-direction: column;
}
.bookList {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  column-gap: 0;
}
