.header {
  border-bottom: 1px solid rgb(236, 239, 241);
}

.header-container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*****************************Logo*************************************/

.header-container > a {
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
}

.Logo {
  color: var(--my_blue);
  font-size: 2rem;
  font-weight: 700;
}

/*****************************End Logo*************************************/

/*****************************Navbar*************************************/
ul {
  list-style: none;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.3;
}

.navList a {
  margin: 0 25px;
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.01rem;
}

.navList a:hover {
  border-bottom: 2px solid var(--my_blue);
}

/*****************************END Navbar*************************************/

/*****************************AuthBtns*************************************/
.authBtnGroup > .sign-Up-Btn,
.authBtnGroup > .sign-In-Btn {
  margin-left: 20px;
}

.authBtnGroup > .MuiButtonBase-root {
  font-family: inherit;
  font-size: 0.9em;
  text-transform: none;
  letter-spacing: inherit;
}

.authBtnGroup > .sign-In-Btn:hover {
  background-color: var(--my_blue);
  color: #ffffff !important;
}

.authBtnGroup > .sign-Up-Btn {
  background-color: var(--my_blue) !important;
}

.authBtnGroup > .sign-In-Btn {
  color: inherit !important;
}
/*****************************END AuthBtns*************************************/
