.Profile {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.profileContainer {
  width: 700px;
  margin: 0 auto;
}

.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%;
  border: 1px solid rgb(202, 209, 214);
  padding: 10px;
}

.profileName {
  margin: 30px 0;
}

.followInfo {
  display: flex;
  gap: 5px;
}

.bio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profileNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-nav-container {
  text-align: center;
  padding: 16px;
  width: 100%;
}

.profile-nav-container > a {
  color: inherit;
  font-family: inherit;
}

.profile-nav-container:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.userLists {
  border: 1px solid rgb(239, 243, 244);
}
.userList {
  border-top: 1px solid rgb(239, 243, 244);
}

.userList > h2 {
  font-weight: 400;
  margin: 1rem 0;
  font-size: 26px;
}
