/**Register**/

.Register {
  max-width: 1440px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 50px;
}

/**End Register**/

/**RegisterNav**/
.registerNav {
  border-bottom: 1px solid rgb(236, 239, 241);
}

.registerNav-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.registerNav-right-container {
  display: flex;
  align-items: center;
}
.registerNav-right-container span {
  font-size: 0.9rem;
  font-weight: 600;
}

.registerNav-right-container .MuiButtonBase-root {
  text-transform: none;
  border: 1px solid var(--my_black);
  font-family: inherit;
  color: inherit;
  margin-left: 15px;
  font-weight: 600;
  font-size: 0.9em;
}
/**End RegisterNav**/

/**RegisterHeader**/
.register-heading {
  margin-bottom: 25px;
  font-family: inherit;
  font-weight: 500;
}
/**End RegisterHeader**/

/**RegisterForm**/

.form-container {
  padding: 30px;
}

.form label {
  font-weight: 600;
  letter-spacing: 0.01rem;
}

.form input {
  margin: 12px 0;
  width: 100%;
  padding: 16px;
  font-family: inherit;
  border-radius: 0.9rem;
  border-color: rgba(91, 97, 110, 0.68);
  background-color: #fff;
}

input:-internal-autofill-selected {
  background-color: #fff !important;
}
.form input:focus {
  border-color: var(--my_blue);
}

.form .submitBtn {
  background-color: var(--my_blue);
  font-family: inherit;
  text-transform: none !important;
  color: #fff;
  padding: 12px;
  border-radius: 1rem;
  font-size: 0.9em;
}
