.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
}

.navLinks {
  list-style: none;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  font-size: 1.7rem;
  font-weight: 700;
}

.Logo > h1 {
  color: #f5f9ff;
}
