.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navLinks {
  flex-grow: 0.7;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
}

.navLinks > li:hover {
  cursor: pointer;
  color: black;
}

li {
  margin: 0;
  padding: 0;
}

.Logo {
  font-size: 1.7rem;
  font-weight: 700;
  align-self: center;
}

.Logo {
  color: #f5f9ff;
}
