.Landing {
  flex-grow: 1;
  height: 95vh;
  margin: 0 auto;
  background-color: #d41929;
  color: white;
  padding: 1% 5%;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.heroText > h1 {
  font-size: 55px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
}

.heroText > span {
  font-size: 30px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.3;
}

.heroWrapper {
  display: flex;
  flex-direction: column;
}

.heroWrapper > img {
  max-height: 550px;
  min-height: 300px;
  width: 100%;
}
