.container {
  color: black;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}

.form input {
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: inherit;
  width: 100%;
}

.Logo {
  color: #d41929;
  position: relative;
  bottom: 9%;
  font-size: 2rem;
  font-weight: 600;
}
